.login-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.side-button a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    width: 100px;
    height: auto;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 20;
    position: absolute;
    top: 50px;
    left: 20px;
}

.error-list{
    width: auto;
    height: 50px;
    list-style: none;
    padding: 0px;
    text-align: center;
}

.error-list li{
    color: red;
}

.error{
    color: red;
    text-align: center;
    width: auto;
    height: 20px;
    font-size: 14px;
    padding: 10px;
}
